<div class="fixed inset-0 bg-black/60 backdrop-blur-sm flex items-center justify-center z-50 p-4">

  <div class="bg-white dark:bg-slate-800 w-full max-w-md rounded-xl shadow-2xl border border-slate-200 dark:border-slate-700">

    <div class="relative h-4 bg-linear-to-r from-blue-500 to-purple-600 rounded-t-xl">

    </div>

    <div class="px-6 pb-6 pt-2">

      <header>
        <h2 class="text-xl mb-4 mt-4 font-bold text-slate-800 dark:text-white">
          <i class="pi pi-user mr-3 text-blue-500"></i>Cadastro de usuário
        </h2>
      </header>

      @if (errorMessage()) {
        <div class="mb-4 flex flex-col p-3 text-red-800 rounded-lg bg-red-50 dark:bg-red-900/30 dark:text-red-300 border border-red-200 dark:border-red-800" role="alert">
          <div class="flex items-center">
            <i class="pi pi-exclamation-circle mr-2 font-bold"></i>
            <span class="text-xs font-bold uppercase">Erro ao atualizar</span>
            <button (click)="errorMessage.set(null)" class="ml-auto text-red-500 hover:text-red-700">
              <i class="pi pi-times"></i>
            </button>
          </div>
          <p class="text-sm mt-1 ml-6">{{ errorMessage() }}</p>
        </div>
      }

      <div class="mt-1">

         <form [formGroup]="userForm" (ngSubmit)="save()" class="space-y-4">

            <div>

              <label class="block text-sm font-medium text-slate-700 dark:text-slate-300">Nome</label>

              <input type="text"
                         placeholder="nome do usuário"
                         formControlName="nome"
                         (blur)="updateErrorMessage()"
                         required
                         class="w-full rounded-lg border border-slate-300 px-4 py-2 text-sm outline-none transition-all
                              bg-white text-slate-900
                              focus:border-purple-500 focus:ring-1 focus:ring-purple-500
                              dark:border-slate-700 dark:focus:border-purple-500 dark:bg-slate-800/50 dark:text-white"/>

              <div class="flex flex-col gap-3 sm:flex-row">

                @if(userForm.get('nome')?.invalid && userForm.get('nome')?.touched){
                  <div class="text-red-600 dark:text-red-300 text-sm mt-1 ml-2">Nome inválido.</div>
                }

              </div>

            </div>

            <div>

              <label class="block text-sm font-medium text-slate-700 dark:text-slate-300">E-mail</label>

              <input type="email"
                         placeholder="nome@dominio.com.br"
                         formControlName="email"
                         required
                         class="w-full rounded-lg border border-slate-300 px-4 py-2 text-sm outline-none transition-all
                              bg-white text-slate-900
                              focus:border-purple-500 focus:ring-1 focus:ring-purple-500
                              dark:border-slate-700 dark:focus:border-purple-500 dark:bg-slate-800/50 dark:text-white"/>

               @if(userForm.get('email')?.invalid && userForm.get('email')?.touched){
                  <div class="text-red-600 dark:text-red-300 text-sm mt-1 ml-2">E-mail inválido.</div>
               }

            </div>

            <div class="grid grid-cols-2 gap-4">
              <div>
                <label class="block text-sm font-medium text-slate-700 dark:text-slate-300">Senha</label>

                <input type="password"
                       placeholder="digita a senha"
                       formControlName="senha"
                       required
                       class="w-full rounded-lg border border-slate-300 px-4 py-2 text-sm outline-none transition-all
                              bg-white text-slate-900
                              focus:border-purple-500 focus:ring-1 focus:ring-purple-500
                              dark:border-slate-700 dark:focus:border-purple-500 dark:bg-slate-800/50 dark:text-white"/>

                @if(userForm.get('senha')?.invalid && userForm.get('senha')?.touched){
                  <div class="text-red-600 dark:text-red-300 text-sm mt-1 ml-2">Senha inválida.</div>
                }

              </div>
              <div>
                <label class="block text-sm font-medium text-slate-700 dark:text-slate-300">Confirmar</label>
                <input type="password"
                       placeholder="confirma a senha"
                       formControlName="confirmaSenha"
                       required
                       class="w-full rounded-lg border border-slate-300 px-4 py-2 text-sm outline-none transition-all
                              bg-white text-slate-900
                              focus:border-purple-500 focus:ring-1 focus:ring-purple-500
                              dark:border-slate-700 dark:focus:border-purple-500 dark:bg-slate-800/50 dark:text-white"/>

                @if(userForm.get('confirmaSenha')?.invalid && userForm.get('confirmaSenha')?.touched){
                  <div class="text-red-600 dark:text-red-300 text-sm mt-1 ml-2">Confirmação de senha inválida.</div>
                }

              </div>
            </div>

            <div class="mt-6 flex gap-3">

              <button type="button"
                      (click)="close.emit()"
                      class="cursor-pointer flex-1 rounded-lg border border-slate-200 px-4 py-2 text-sm font-semibold
                           text-slate-700 transition-colors hover:bg-gray-50 dark:border-slate-600
                           dark:text-slate-200 dark:hover:bg-slate-700">
                <i class="pi pi-undo mr-3"></i> Cancelar
              </button>

              <button class="flex-1 rounded-lg cursor-pointer bg-indigo-600 px-6 py-2 text-sm font-semibold text-white
                               transition-colors hover:bg-indigo-700 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed"
                      [disabled]="userForm.invalid || isLoading()"
                      type="submit"
                      >
                @if (isLoading()) {
                  <i class="pi pi-spin pi-spinner mr-3"></i> Salvando...
                } @else {
                  <i class="pi pi-save mr-3"></i> Salvar
                }

              </button>

            </div>

         </form>

      </div>

    </div>

  </div>

</div>


