mat-toolbar {
  background: linear-gradient(to right, #00539f, #cd072e);
  /* background: var(--color-primaria); */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  font-family: "Days One", sans-serif;
  padding: 0 1rem;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.mat-mdc-menu-item{
  background-color: var(--color-primaria) !important;
  color: #fff;
}

.mat-mdc-menu-item:hover{
  background-color: var(--color-primaria2) !important;
}

.pi{
  margin-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.color-logout{
  color:#fff;
  font-size: 1.5rem;
}



