<mat-toolbar>

  <button mat-button routerLink="/home">
     <i class="pi pi-home"></i>
    Home
  </button>

  <button mat-button routerLink="/shows">
    <i class="pi pi-ticket"></i>
      Shows
  </button>

  <button mat-button >
    <i class="pi pi-play"></i>
      Disco Vinil
  </button>

  <button mat-button >
    <i class="pi pi-users"></i>
      users
  </button>

  <span class="spacer"></span>

  <button class="mr-2 flex transition-transform hover:scale-125 align-middle"
          mat-icon-button
          aria-label="Settings"
    (click)="themeService.toggleTheme()">

    @if (themeService.darkMode()) {
      <span class="material-icons text-white">dark_mode</span>
    } @else {
      <span class="material-icons text-white">light_mode</span>
   }

  </button>

</mat-toolbar>



