<div class="mx-2.5 mt-8.5 mb-1.25 p-5
    bg-slate-50 text-slate-900 border border-[#ddd] shadow-[0_0_10px_rgba(0,0,0,0.05)]
    dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600 dark:shadow-none">

  <h5 class="text-2xl font-bold dark:text-white dark:bg-slate-700">Home</h5>

  <p class="mt-4 text-base leading-7">


    @if (loginService.currentUser(); as user) {

      @if(user.email) {

        <header>
          <h1>Olá, {{ user.name }}!</h1>
          <p>Logado com o e-mail: <strong>{{ user.email }}</strong></p>
        </header>

        <main>
          <p>Conteúdo exclusivo da sua conta.</p>
        </main>
      }
    }@else {
    <div class="mb-4 p-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700">

      <p>Por favor, faça login para acessar mais recursos.</p>

    </div>
  }

  </p>

</div>


