<div class="p-6 bg-gray-50 dark:bg-gray-900">

    <div class="max-w-5xl mx-auto">

      <div class="flex justify-between items-center mb-6">

        <h2 class="text-2xl font-bold text-gray-800 dark:text-white"><i class="pi pi-users text-blue-500"></i></h2>

        <button class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg transition cursor-pointer"
                (click)="showModal.set(true)">

                <i class="pi pi-plus mr-2"></i>  Novo Usuário

        </button>

        @if (showModal()) {

          <app-user-create (close)="showModal.set(false)" />

          }

      </div>

    </div>

</div>
