.typing{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.12em solid var(--color-primaria);
  animation: typing 3s steps(14, end) 1s infinite alternate,
             blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--color-primaria); }
}

@keyframes typing {
  from { width: 0ch; }
  to { width: 14ch; }
}
